# # config file version
apiVersion: 1

# # list of datasources that should be deleted from the database
#deleteDatasources:
#   - name: Graphite
#     orgId: 1

# # list of datasources to insert/update depending
# # on what's available in the database
datasources:
#   # <string, required> name of the datasource. Required
# - name: Graphite
#   # <string, required> datasource type. Required
#   type: graphite
#   # <string, required> access mode. direct or proxy. Required
#   access: proxy
  - name: InfluxDB
    type: influxdb
    orgId: 1
    access: proxy
    url: http://{{INFLUXDB_S1}}:8086
    user: {{INFLUXDB_USER_S1}}
    database: {{INFLUXDB_DB_S1}}
    editable: true
    isDefault: true
    secureJsonData:
      password: {{INFLUXDB_USER_S1_PASSWORD}}

  - name: TimescaleDB
    type: postgres
    orgId: 1
    access: proxy
    url: timescale:5432
    user: postgres
    database: postgres
    editable: true
    isDefault: false
    jsonData:
      timescaledb: true
    jsonData:
      sslmode: disable
    secureJsonData:
      password: {{TIMESCALE_PASSWORD}}
