Hi!

Ihr Account wurde erfolgreich angelegt. Jetzt muss noch das Passwort geändert werden. 

Dazu klicken Sie bitte auf folgenden Link:
<p>
  <a href="https://fa.{{ DOMAIN }}/password/change/${changePasswordId}?tenantId=${user.tenantId}">
    https://fa.{{ DOMAIN }}/password/change/${changePasswordId}?tenantId=${user.tenantId}
  </a>
</p>

Viele Grüße vom SC Team!
