Hi!

Ihr Account wurde erfolgreich angelegt. Jetzt muss noch das Passwort geändert werden. 

Dazu klicken Sie bitte auf folgenden Link:
https://fa.{{ DOMAIN }}/password/change/${changePasswordId}?tenantId=${user.tenantId}

Viele Grüße vom SC Team!
